h1 {
    font-size: 20px;
    font-weight:bold;
    
}

a {
    border: solid #6C8FF0;
    background-color: #6C8FF0;
    border-radius: 15px;
    padding: 5px;
    color:white;
    text-decoration:none;
    
}